body {
    background-color: #e1ffff;
}

header {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient(to bottom, 
        #b1d8f5 0%,#bee4f8 25%,#c8eefb 46%,#e6f8fd
        70%,#fdffff 88%,#e1ffff 88%,#e1ffff 93%,#e1ffff 100%
    );
}

h1 {
    text-align: center;
    font-size: x-large;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #e1ffff, #33CC55);
    font-size: smaller;
}


/*
 * GAME STYLING
 */

#game-area {
    display: block;
    position: relative;
    top: 60px;
    background: linear-gradient(to bottom, #b1d8f5, #e1ffff, #FFF, #e1ffff, #33CC55);
    width:  350px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#player {
    display: block;
    position: absolute;
    width:  50px;
    height: 50px; /* == width */
    left:   200px;
    top:    350px;
    background-color: lightgray;
    border-radius: 25px; /* == width/2 */
    border: black 1px;
    text-align: center;
    line-height: 50px; /* == width */
}

.bell {
    display: block;
    position: absolute;
    width:  50px; /*PADDLES!*/
    height: 50px; /* == width */
    left:   120px;
    top:    50px;
    background-color: gold;
    border-radius: 25px; /* == width/2 also known as raio*/
    text-align: center;
    line-height: 50px; /* == width */
}